
<template name="addChat">
  <form name="message" class="message-form form">
    <div class="input-group form-group ">
        <!--<div class="controls">
            <label for="body">message on this post</label>
            <textarea name="body" id="body" class="form-control" rows="3"></textarea>
            <span class="help-block">{{errorMessage 'body'}}</span>
        </div>-->
          <input name="body" type="text" class="form-control" placeholder="Add message">
          <span class="input-group-addon">
              <a class="hpadded" href="#" title="Attach a file" rel="tooltip"><i class="fa fa-paperclip"></i></a>
              <button class="btn btn-xs btn-success">Reply</button>
          </span>
    </div>
    <!--<button type="submit" class="btn btn-primary">Add message</button>-->
  </form>




  <!--<form>
      <div class="input-group">
          <input for="body" type="text" class="form-control" placeholder="Add message">
          <span class="input-group-addon">
              <a class="hpadded" href="#" title="Attach a file" rel="tooltip"><i class="fa fa-paperclip"></i></a>
              <button class="btn btn-xs btn-success">Reply</button>
          </span>
      </div>
  </form>-->


</template>
