
<template name='chatroom'>


                <div class="grid-stack-item" 
                    data-gs-x="0" data-gs-y="0" 
                    data-gs-width="4" data-gs-height="5"
                    data-gs-auto-position=true
                    >
                    <div class="grid-stack-item-content">
                        <div class="grid-stack-header">
                            <p>{{hashTag}}</p>
                        Created by: {{owner}}
                        </div>


                        <div class="grid-stack-inner-content">
                            {{#each messages}}
                            {{> chatMessage}}
                            {{/each}}

                        </div>

                        <div class="grid-stack-bottom">
                            {{> addChat}}
                        </div>
                    </div>
                </div>


</template>


