<!--This template is the actual representation of a chatroom.
    It is encapsulated into a grid-stack-item and as such can be moved around
    and resized at will.
    Each grid-stack-item is composed of:
        - a header element: Showing the title and other status of the chatroom.
        - a body element: To display all the messages.
        - a bottom element: To display the text area to input new messages.
-->

<template name='chatroom'>
                <!-- Default grid-stack-item size of 4x5
                     with automatic positioning.
                     This element is given the _id of the chatroom object-->
                <div class="grid-stack-item" data-gs-width="4"
                     data-gs-height="5" data-gs-auto-position=true 
                     id='{{_id}}'  data-gs-no-resize=false
                     data-gs-animate=true data-gs-no-move=false
                     data-gs-min-height="3" data-gs-min-width="3">
                    <div class="grid-stack-item-content">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <!--<span class="glyphicon glyphicon-comment"></span> --> 
                                <strong class='yellow'>{{hashTag}}</strong> started by {{owner}} - <strong>{{privatize true}}</strong>

                               {{#if isOwner}}
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
<i class="fa fa-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu slidedown">
                                        <li id='go-public'><a href=""><span class="glyphicon glyphicon-ok-sign">
                                        </span>Make {{privatize false}}</a></li>
                                        <li class="divider"></li>
                                        <li id='delete-chatroom'><a href=""><span class="glyphicon glyphicon-remove">
                                        </span>Delete</a></li>
                                    </ul>
                                </div>
                                {{/if}}
                            </div>


                        <!--
                            This body is referenced by a UNIQUE id made of the
                            chatroom _id concatenated with "-inner-content"
                            This id is called by the template rendered callback.
                        -->
                        <div class="panel-body" id='{{_id}}-panel-content'>
                                <ul class="chat">
                                    {{#each messages}}
                                    <!--For each message in the chat history,
                                        display each message using 
                                        the chatMessage template -->
                                        {{> chatMessage }}
                                    {{/each}}
                                </ul>
                            </div>


                            <div class="panel-footer">

                                {{> addChat}}

                            </div>
                        </div>

                    </div>
                </div>


</template>


