<template name='chatMessage'>

<li class="{{roleSide ..}} clearfix" id={{messageId}}><span class="chat-img pull-{{roleSide ..}}" >

    <img src="http://placehold.it/50/55C1E7/fff&text={{ownerInitial}}" alt="User Avatar" class="img-circle" />
</span>
<div class="chat-body clearfix">
    <div class="header">
        <strong class="primary-font">{{owner}}</strong> <small class="pull-right text-muted">
            <span class="glyphicon glyphicon-time"></span>{{elapseTime}}</small>
    </div>
    <p>
    {{message}}
    </p>
</div>
</li>

</template>
