<template name="addChat">




<!--<div class="input-group">
    <input name='body' id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
    <span class="input-group-btn">
        <button class="btn btn-warning btn-sm" id="btn-chat">
            Send</button>
    </span>
</div>-->


  <form name="message" class="message-form form">
    <div class="input-group">
          <input name="body" type="text" class="form-control input-sm" placeholder="Add message">
          <span class="input-group-btn">
              <a class="hpadded" href="#" title="Attach a file" rel="tooltip"><i class="fa fa-paperclip"></i></a>
        <button class="btn btn-warning btn-sm" id="btn-chat">
            Send</button>
          </span>

          <!--<span class="input-group-addon">
              <a class="hpadded" href="#" title="Attach a file" rel="tooltip"><i class="fa fa-paperclip"></i></a>
              <button class="btn btn-xs btn-success">Reply</button>
          </span>-->


    </div>
  </form>
</template>
