//@import "kube/less/kube.import.less";
@import "mrmrs-colors/less/colors.import.less";



body {
    padding: 10px;
}


.grid-stack-item-content {
    padding: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    border-width: 1px;

}

.grid-stack-inner-content {
    position: relative;
    overflow: auto; 
    height: 80%;

    border-style: solid;
    border-color: black;
    border-radius: 2px;
    border-width: 1px;
}

.grid-stack-header {
    position: relative;
    top: 0px;

    border-style: solid;
    border-color: black;
    border-radius: 2px;
    border-width: 1px;
}

.grid-stack-bottom {

    position: relative;
    bottom: 0px;
    height: 10%;

    border-style: solid;
    border-color: black;
    border-radius: 2px;
    border-width: 1px;
}

