<template name="header">
<!--Show the navbar only of logged in users.-->
{{#if currentUser}}
  <nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="btn btn-default navbar-btn" id="new-chat">New Chat</button>
        <a class="navbar-brand" href="{{pathFor 'dashboard'}}">Chat</a>
      </div>
      <div class=" navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
    </div>
  </div>
  </nav>
  {{/if}}
</template>
